# Foundry
cache/
out/
/lib

# JS
node_modules/

#Hardhat files
cache_hardhat/
artifacts/

#Hardhat plugin files
typechain-types/
# !broadcast/DeployFactory.s.sol/31337/run-latest.json
broadcast/**
.env

.vscode/settings.json
